#abt-me {
    background-color: #474A48;
    display: flex;
    justify-content: center;
    height: 70vh;
}

#taupe-box {

    background-color: #96939B;
    position: absolute;
    width: 30vw;
    height: 30vw;
}

#celadon-box {

    position: absolute;
    background-color: #B0E298;
    width: 27vw;
    height: 27vw;
}

#funny-ginger-box {

    position: absolute;
    background-color: #F19A3E;
    width: 24vw;
    height: 24vw;
}

#profile-photo {
    position: absolute;
    background-color: #F19A3E;
    width: 20vw;
    height: 20vw;
}